
<mat-card>
    <mat-action-list>
        <div mat-subheader>Menu</div>

        <button mat-list-item routerLink="/retailer-dashboard">
            <mat-icon mat-list-icon>home</mat-icon>Home
        </button>
        
        <button mat-list-item routerLink="/retailer-dashboard/profile" >
            <mat-icon mat-list-icon>account_circle</mat-icon>Profile
        </button>

        <button mat-list-item routerLink="/retailer-dashboard/my-distributor" >
            <mat-icon mat-list-icon>preview</mat-icon>My Distributor
        </button>

        <button mat-list-item routerLink="/retailer-dashboard/view-products" >
            <mat-icon mat-list-icon>category</mat-icon>View Products
        </button>

        <button mat-list-item routerLink="/retailer-dashboard/retailer-stock" >
            <mat-icon mat-list-icon>inventory</mat-icon>Available stock
        </button>

        <button mat-list-item routerLink="/retailer-dashboard/order-history" >
            <mat-icon mat-list-icon>history</mat-icon>Order History
        </button>

    </mat-action-list>
</mat-card>