<!-- <div class="bootstrap-wrapper">
    <div class="container text-center mt20">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <mat-card>
                    <mat-card-title>OrderId: </mat-card-title>
                </mat-card>
            </div>
        </div>
    </div>
</div> -->


<mat-card>
    <h1>Stock Details</h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <form (submit)="addStock()">
                        <!--table details-->
                        <table class="table text-center">
                           
                            <tr>
                                <td>Product ID</td>
                                <td>{{ stockDetails.productCategories.products.productId }}</td>
                            </tr>

                            <tr>
                                <td>Category ID</td>
                                <td>{{ stockDetails.productCategories.categoryId }}</td>
                            </tr>

                            <tr>
                                <td>Product Name</td>
                                <td>{{ stockDetails.productCategories.products.productName }}</td>
                            </tr>

                            <tr>
                                <td>Category Name</td>
                                <td>{{ stockDetails.productCategories.categoryName }}</td>
                            </tr>
                            
                            <tr>
                                <td>Price </td>
                                <td>{{ stockDetails.productCategories.price }}</td>
                            </tr>

                            <tr>
                                <td> Available Quantity</td> 
                                <td>{{ stockDetails.availableQuantity }}</td>
                            </tr>

                            <tr>
                                <td>Enter Quantity To Be Updated</td>
                                <td>
                                    <input required type="number" 
                                    name="enteredQuantity"
                                    [(ngModel)]="enteredQuantity"
                                    matInput placeholder="Enter Quantity">
                                </td>
                            </tr>

                        </table>

                        <div class="text-center mt10">
                            <button type="submit" mat-raised-button color="primary">UPDATE</button>
                          </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>