

<mat-card>
    <mat-card-title class="text-center">Welcome to Admin Dashboard</mat-card-title>
<mat-grid-list cols="2" rowHeight="4:2">
    
    <mat-grid-tile routerLink="/admin-dashboard/profile" >
        <div class="text-center">
            <img class="icon-size" src="../../../../assets/profile.jpg" alt="">
            <br>
            <h1>Profile</h1>
        </div>
    </mat-grid-tile>

    
    <mat-grid-tile routerLink="/admin-dashboard/get-distributor">
        <div class="text-center">
            <img class="icon-size" src="../../../../assets/manage-distributor.png" alt="">
            <br>
            <h1>Manage Distributor</h1>
        </div>
    </mat-grid-tile>

    <mat-grid-tile routerLink="/admin-dashboard/categories">
        <div class="text-center">
            <img class="icon-size" src="../../../../assets/product-category.jpg" alt="">
            <br>
            <h1>Product Category</h1>
        </div>
    </mat-grid-tile
    >
    <mat-grid-tile routerLink="/admin-dashboard/order">
        <div class="text-center">
            <img class="icon-size" src="../../../../assets/order-history.png" alt="">
            <br>
            <h1>Order History</h1>
        </div>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>

